In [1]:
import numpy as np
import pandas as pd

In [78]:
from library import unique_item

In [22]:
[1,3,4,5,2,2,2].count(2)

3

In [3]:
unique_item([1,3,4,5,2,2,2])

[1, 2, 3, 4, 5]

In [29]:
class MyClass:
    """A simple example class"""
    i = 12345


    def hello(self):
        return 'hello world'

In [28]:
Myclass.hello()

NameError: name 'Myclass' is not defined

In [27]:
x = MyClass()

l = [1,2,3,4,5]
l.count(4)

1

In [26]:
x.hello()

'hello world'

In [14]:
df = pd.read_csv('https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv')

In [15]:
df

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [16]:
df.shape-new

(77, 8)

In [18]:
len(df['Film'])

77

In [30]:
 class Complex:
  def __init__(self, realpart, imagpart):
       self.r = realpart
       self.i = imagpart

In [38]:
x = Complex(12,6)

In [39]:
x.i

6

In [40]:
x.r

12

In [41]:
class Reverse:
    """Iterator for looping over a sequence backwards."""
    def __init__(self, data):
        self.data = data
        self.index = len(data)

    def __iter__(self):
        return self

    def __next__(self):
        if self.index == 0:
            raise StopIteration
        self.index = self.index - 1
        return self.data[self.index]

In [47]:
rev = Reverse('spam')
list(rev)

['m', 'a', 'p', 's']

In [45]:
for char in rev:
    print(char)

m
a
p
s

In [49]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [60]:
t = Polygon(4)

In [68]:
class Person(object): 
       
    # Constructor 
    def __init__(self, name): 
        self.name = name 
   
    # To get name 
    def getName(self): 
        return self.name 
   
    # To check if this person is an employee 
    def isEmployee(self): 
        return False
   
   
class Employee(Person): 
   
    # Here we return true 
    def isEmployee(self): 
        return True

In [63]:
emp = Person('Mukil')

In [65]:
emp.getName()

'Mukil'

In [71]:
emp = Person("Mukil")  # An Object of Person 
print(emp.getName(), emp.isEmployee())

Mukil False

In [72]:
emp = Employee("Shekhar") # An Object of Employee 
print(emp.getName(), emp.isEmployee())

Shekhar True

In [83]:
def fib(n):
    a, b = 0, 1
	
    while (a < n):
        print(a, end=' ')
        a, b = b, a +b

    print()

In [84]:
fib(5)

0 1 1 2 3

In [91]:
def method2():
    return 'hello method 2'


def method3():
    return 'hello method 3'

def method(methodToRun):
    result = methodToRun()
    return result

method(method2)

#method2(method3)

'hello method 2'

In [105]:
def pass_fun():
    sequence = {'p', 'a', 's', 'o'}
    for val in sequence:
        if val == 'p':
            print('breaking')
            pass
        print('hi')

In [106]:
pass_fun()

breaking
hi
hi
hi
hi

In [107]:
def pass_fun():
    sequence = {'p', 'a', 's', 'o'}
    for val in sequence:
        if val == 'p':
            print('breaking')
            continue
        print('hi')